# Dependencies
node_modules/
.pnpm-store/

# Locks de outros gerenciadores
package-lock.json
yarn.lock
bun.lockb
bun.lock

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Env
.env
.env.local
.env.*.local

# OS / IDE
.DS_Store
.idea/
*.swp
*.swo
